*
{
 margin: 3px;
 padding: 3px;
}
.description {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #a09ddc;
 width:950px;
 height: 40px;
 color: whitesmoke;
 border-radius: 15px;
}
legend
{
 background-color: green;
 border-radius: 15px;

 color: aliceblue;
 padding: 10px;
 text-align: center;
}
fieldset
{
 border-radius: 15px;

   width: fit-content;
}
.add 
{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}
.treating button
{
 width: 200px;
}
.container {

 display: grid;
 grid-template-columns:auto 1fr;
 gap: 10px;
}

.statistic
{
 border-radius: 15px;

 background-color: #a52a2a;
 color: aliceblue;
 display: flex;
 justify-content:flex-start;
 align-items: center; 
 margin-bottom: 20px;
}
button
{
 background-color: blue;
 color: aliceblue;
 border: none;
 border-radius: 3px;
 padding: 9px;
 cursor: pointer;
}


.buttons button
{
 background-color: transparent;
 color: whitesmoke;
}
